{{ template "partials/header.html" . }}

<div class="wrapper">
  {{ partial "header-profile.html" . }}
  
  <div class="content post-single">
    <h1>{{ .Title }}</h1>
    {{ partial "author.html" .Params.author }}
    <aside class="review-single__date"> on {{ .Date.Format "Jan 2" }}</aside>
    {{ partial "tags.html" . }}
    <div class="post-single__image" style="background-image: url('/images/posts/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}')"></div>

    {{ .Content }}
  </div>

</div>
{{ template "partials/footer.html" . }}