@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding-bottom: 13rem;
  min-height: 100%;
  background-image: none;
}

@media (min-width: 768px) {
  body {
    background-image: -webkit-linear-gradient(#FFFFFF, 0, #FFFFFF 200px, #F5F5F5 350px, #FFFFFF 350px, #FFFFFF 100%);
    background-image: -o-linear-gradient(#FFFFFF, 0, #FFFFFF 200px, #F5F5F5 350px, #FFFFFF 350px, #FFFFFF 100%);
    background-image: linear-gradient(#FFFFFF, 0, #FFFFFF 200px, #F5F5F5 350px, #FFFFFF 350px, #FFFFFF 100%);
    background-repeat: no-repeat;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

a {
  color: #666666;
  text-decoration: underline;
}

a:hover {
  color: #5694f1;
}

.clearfix {
  clear: both;
}

/** Line Top */

.line {
  height: 5px;
}

.line--top {
  background-image: -webkit-linear-gradient(right, #FCB53C 0%, #FFEC00 100%);
  background-image: -o-linear-gradient(right, #FCB53C 0%, #FFEC00 100%);
  background-image: linear-gradient(to left, #FCB53C 0%, #FFEC00 100%);
}

/** Wrapper */

.wrapper {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

/** Header Profile */

.profile {
  margin-top: 20px;
  padding: 0 30px;
  text-align: center;
}

.profile__image {
  vertical-align: middle;
  width: 130px;
}

@media (min-width: 508px) {
  .profile__image {
    width: 75px;
    margin-right: 15px;
  }
}

.profile__author {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

@media (min-width: 508px) {
  .profile__author {
    margin-top: 0;
  }
}

.profile__name {
  font-weight: 400;
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: #000000;
}

@media (min-width: 508px) {
  .profile__name {
    display: inline-block;
  }
}

.profile__title {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #6B6B6B;
  display: block;
}

@media (min-width: 508px) {
  .profile__title {
    display: inline-block;
  }
}

.profile__tagline {
  margin-top: 10px;
  color: #6B6B6B;
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .profile {
    text-align: left;
  }
}

/** Profile Button */

.profile__button {
  background: #F8E71C;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
}

.profile__button:hover {
  opacity: 0.75;
  color: #000000;
}

@media (min-width: 768px) {
  .profile__button {
    margin-left: 40px;
    margin-top: 0;
  }
}

/** Profile Social */

.profile__social {
  float: none;
  margin-top: 30px;
  display: block;
}

@media (min-width: 992px) {
  .profile__social {
    margin-top: 18px;
    display: block;
  }

  .profile__social.profile__social--compact {
    float: right;
  }
}

/** Footer */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F5F5F5;
  text-align: center;
  margin-top: 50px;
}

/** Nav Main */
.nav {}

.nav--main {
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .nav--main {
    text-align: left;
    margin: 50px 0;
  }
}

.nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav__item {
  display: block;
}

@media (min-width: 768px) {
  .nav__item {
    display: inline-block;
  }
}

.nav__link {
  text-decoration: none;
  color: #636363;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 38px;
  display: inline-block;
  width: 100%;
}

.nav__link:hover,
.nav__link--active {
  background: #EEEEEE;
  border-radius: 0;
  color: #000000;
}

@media (min-width: 768px) {
  .nav__link {
    width: auto;
  }

  .nav__link:hover,
  .nav__link--active {
    border-radius: 5px;
  }
}

/** Content */
.content {
  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.12);
  height: 100%;
}

@media (min-width: 768px) {
  .content {
    margin-top: 45px;
    padding: 25px 45px;
  }
}

.content a {
  word-break: break-word;
}

.content figure img {
  width: 100%;
}

.content figcaption h4 {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
  color: #888888;
}

.content__header {
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .content__header {
    padding: 0 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content__title {
  font-weight: 300;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .content__title {
    margin-top: 0.67em;
  }
}

.content__description {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.4;
}

/** Post List */

.post-list {
  list-style: none;
  padding-left: 0;
}

.post-list__title {
  font-weight: 300;
  font-size: 28px;
}

.content__latest-posts {
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .content__latest-posts {
    width: 63%;
  }
}

/** reviews */
.content__reviews {
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .content__reviews {
    width: 37%;
  }
}

.review-list {
  list-style: none;
  padding-left: 0;
}

.review-list li {
  display: inline-block;
}

.review-list__title {
  font-weight: 300;
  font-size: 28px;
}

/** review */

.review {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  min-width: auto;
  text-decoration: none;
}

@media (min-width: 768px) {
  .review {
    max-width: 360px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .review {
    padding-right: 0;
  }
}

.review__image {
  width: 100%;
  min-width: auto;
  border: 1px solid #F5F5F5;
  // box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .review__image {
    max-width: 360px;
    width: 100%;
  }
}

.review__info {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background: rgba(230, 230, 230, 1);
}

.review:hover .review__info {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 1);
}

/** Mixed list */

.mixed-list {
  list-style: none;
  padding-left: 0;
}

.mixed-list li {
  display: inline-block;
}

/** Post List */
.post-list {
  list-style: none;
  padding-left: 0;
}

.post {
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #F5F5F5;
  margin-bottom: 30px;
  display: flex;
}

@media (min-width: 992px) {
  .post {
    padding: 30px;
  }
}

.post__title {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.post__date {
  display: inline-block;
  font-size: 16px;
  color: #888888;
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}

.post__tags {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.post__tags > a {
  text-decoration: none;
}

.post__image {
  display: none;
}

@media (min-width: 992px) {
  .post__image {
    display: block;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
  }
}

.post__info {
  flex: 1;
}

@media (min-width: 992px) {
  .post__info {
    flex: 1;
    margin-left: 15px;
  }
}

.post__summary {
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
}

/**
 * Post Single
 */

.content.post-single {
  font-size: 18px;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .content.post-single {
    font-size: 22px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 60px;
  }
}

.post-single__image {
 width: 100%;
 height: 300px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center center;
}

/**
 * Review Single
 */

.content.review-single {
  font-size: 18px;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .content.review-single {
    font-size: 22px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 60px;
  }
}

.review-single__info {
  margin-bottom: 20px;
}

.review-single__image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 }

 .reviews-single__profile__button {
  margin: 0;
 }

.review-single__date,
.post-single__date {
  font-size: 16px;
  color: #888888;
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}

/**
* Author
*/
 
.author {
  text-decoration: none;
  color: #000000;
  display: inline-block;
 }

.author:hover {
  color: #5694f1;
 }

.author__inner {
  display: inline-block;
 }

.author__image {
  width: 32px;
  vertical-align: middle;
 }

.author__name {
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
 }

.post__info .author {
  margin-bottom: 0;
 }

 /**
  * Author Box
  */
 
.author-box {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .author-box {
    display: flex;
  }
}

.author-box__image {
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
}

.author-box__url {
  text-decoration: none;
  display: block;
}

.author-box__content {
  text-align: center;
}

@media (min-width: 768px) {
  .author-box__content {
    text-align: left;
  }
}

 /**
  * About
  */

.about__author {
  margin-left: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: inline-block;
  padding: 40px;
  box-shadow: 0 3px 13px -1px rgba(0, 0, 0, 0.15);
}

.about__author .about__author__name {
  margin-bottom: 5px;
  color: #000;
}

/**
 * Share
 */

 .p-share {
   text-align: center;
   margin-bottom: 40px;
   margin-top: 60px;
 }

 .p-share a {
   display: inline-block;
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   background-color: #263238;
   border-radius: 100%;
   color: #eceff1;
   margin: 0 0.5rem;
 }

 .p-share .p-share__facebook {
  background-color: #3b5998;
 }

 .p-share .p-share__twitter {
  background-color: #00aced;
 }

 .p-share .p-share__gplus {
  background-color: #dd4b39;
 }

 .p-share .p-share__pocket {
  background-color: #ef4056;
 }