{{ template "partials/header.html" . }}

<div class="wrapper">
  {{ partial "header-profile.html" . }}

  <div class="content review-single">
    <h1>{{ .Title }}</h1>
    <div class="review-single__info">
      {{ partial "author.html" .Params.author }}
      <aside class="review-single__date"> on {{ .Date.Format "Jan 2" }}</aside>
      {{ partial "tags.html" . }}
      <aside class="review-single__date">{{ .ReadingTime }} min read</aside>
    </div>
    <div class="review-single__image" style="background-image: url('/images/reviews/{{ .Params.imagebig }}')"></div>
    {{ .Content }}

    <aside>
      <section>
        <div class="p-share">
          <h4>Share this review</h4>
          <a class="p-share__facebook" href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
          <a class="p-share__twitter" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a>
          <a class="p-share__gplus" href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-google-plus"></i></a>
          <a class="p-share__pocket" href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-get-pocket"></i></a>
        </div>
      </section>

      <section>
        {{ template "_internal/disqus.html" . }}
      </section>
    </aside>
  </div>

</div>
{{ template "partials/footer.html" . }}