{{ template "partials/header.html" . }}

<div class="wrapper">
  {{ partial "header-profile.html" . }}

  <div class="content author-single">
    <div class="author-box">
      <div class="author-box__image">
        <a href="{{ .Params.authorUrl }}"><img src="{{ .Site.BaseURL }}images/authors/{{ .Params.image }}" alt=""></a>
        <a class="author-box__url" href="{{ .Params.authorUrl }}"><strong>{{ .Params.name }}</strong></a>
      </div>
      <div class="author-box__content">
        {{ .Content }}
      </div>
    </div>

    {{ $.Scratch.Add "name" .Params.name }}
    <ul class="mixed-list">
      {{ range sort (where (where .Site.Pages "Params.hidden" "ne" "true") "Section" "in" (slice "post" "review")) "Section" "desc" }}
        {{ if eq .Params.author.name ($.Scratch.Get "name") }}
          {{ $url := replace .Permalink .Site.BaseURL "" }}
          <li>
            {{ if eq .Section "post"}}
              {{ partial "post-small.html" . }}
            {{else}}
              {{ partial "review.html" . }}
            {{end}}
          </li>
        {{end}}
      {{ end }}
    </ul>
  </div>

</div>
{{ template "partials/footer.html" . }}